li{
  list-style: none;
}



.movie-container{
  text-align: center;
  flex-direction: column;
}

.movie-list{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.movie-list > li{
  width: 500px;
  border: 1px solid #ccc;
  margin: 0.5rem;
  padding: 0.5rem;
}

